.Drawer {
  z-index: 90;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  background-color: #ffffff;
  transform: translateX(0);
  transition: transform 0.22s ease-in;

  &.close {
    transform: translateX(-300px);
  }
}

.Drawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Drawer ul li {
  margin-bottom: 15px;
}

.Drawer ul li a {
  position: relative;
  padding: 0 20px 10px 20px;
  font-size: 30px;
  color: #363d54;
  text-decoration: none;
  background-color: #ffffff;
  transition: opacity 0.3s;

  &:hover,
  &.active {
    opacity: 0.7;
  }
}