.Button {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Button:disabled {
  color: #000000;
  background-color: #cccccc;
  cursor: not-allowed;
}

.error {
  background-color: rgba(240, 87, 108, 1);
}

.success {
  background-color: rgba(161, 240, 69, 1);
}

.primary {
  color: #ffffff;
  background-color: #2884f6;
}